*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: aqua;
} */
 /* shared style */

 .btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;

 }
 .section-heading{
    max-width: 827;
    align-items: center;
 }
 .section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
    color: #181818;
 }
 .c{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
 }
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

.
  /* main satyle  */
}

.logo h2{
font size: 45px;
font-weight: 900px;
}
.color-orange{
    color:#FD6E0A;

}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
    
}
#banner{
    border: 1px solid red;
    display: flex;
    margin: auto;
    margin: 46px 200px 0 230px;
    justify-content: space-between;
    align-items: center;
    ;
}
.banner-content h2{
    font-size: 45px;
    color: #474747;
}.banner-content h1{
   font-size: 85px;
   color: #181818;
   font-weight: bold;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    margin: 20px 0px;
}
.banner-content button{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.banner-content .another{
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    background: none;
    /* border: 1px solid #FD6E0A; */
    margin-left: 30px; 
} 

#about{
    padding-top: 130px;

}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
.about-info{
    display: flex;
    gap: 50px;
justify-content: center;
font-size: 20px;
font-weight: bold;
color: #474747;

}
/* wha6fggfgf */


#skills{
    padding-top: 130px;
}
.skills-container{
width: 71%;
max-width: 1140px;
margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin bottom: 50px;
}

.skill-box{
    display: flex;
    gap: 33px;
}
.skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #d6c9c9;
    max-width: 267px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    line-height: 28px;
    font-size: 16px;
    color: #757575;
}

